body {
    background: rgb(230, 231, 236)
}

.form-control:focus {
    box-shadow: none;
    border-color: #0851f0
}

.profile-button {
    background: rgb(11, 43, 224);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #0a1fdb
}

.profile-button:focus {
    background: #0d31d4;
    box-shadow: none
}

.profile-button:active {
    background: #130fe2;
    box-shadow: none
}

.back:hover {
    color: #1613dd;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #0b22eb;
    color: #fff;
    cursor: pointer;
    border: solid 1px #1d0ee6
}