{% extends 'base.html' %}

{% block title %}
Reset Password
{% endblock %}
{% block body %}

{% if 'error' in user %}
<div class=" mt-3 alert alert-success alert-dismissible fade show" role="alert">
    <p style="font-size: 20px;">{{ user.error }}</p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card border-0 shadow rounded-3 my-5">
                    <div class="card-body p-4 p-sm-5">
                        <h5 class="card-title text-center text-dark mb-5 fs-5" style="font-family: 'Times New Roman', Times, serif;">Set new Password</h5>
                        <form action="{{ url_for('changePassword') }}" method=post>
                            
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="floatingPassword" name="password1"
                                    placeholder="Password" required>
                                    <input type="email" class="d-none form-control" id="email" name="email"
                                    value="{{user.email}}">
                                <!-- <label for="floatingPassword">Password</label> -->
                            </div>

                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="floatingPassword" name="password2"
                                    placeholder="Re-enter Password" required>
                                <!-- <label for="floatingPassword">Password</label> -->
                            </div>

                            <div class="d-grid">
                                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Update</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}