{% extends 'base.html' %}

{% block title %}
{{ session['type'] }}
{% endblock %}
{% block body %}

{% if error %}
<div class=" mt-3 alert alert-success alert-dismissible fade show" role="alert">
    <p style="font-size: 20px;">{{error}}</p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

<body>

    <div class="container col-md-12 ml-0">

        <div class="mt-5">
            <h1 class="d-flex justify-content-center" style="font-family: 'Times New Roman', Times, serif;">{{ data.name }}</h1>
        </div>
        <div class="ml-0 row mt-5">
            <table class="table table-striped" border="solid">
                <thead>

                    <tr>
                        <th style="font-size: 30px;">Module Name</th>
                        <th style="font-size: 30px;">Sub Topic</th>
                        <th style="font-size: 30px;">PDs</th>

                        <th style="font-size: 30px;">Start Date</th>
                        <th style="font-size: 30px;">End Date</th>
                        <th style="font-size: 30px;">Status</th>


                    </tr>
                </thead>
                <tbody>

                    {% for d in data.modules %}
                    <tr>
                        <td style="font-size: 20px;">{{ d.moduleName }}</td>

                        {% for i in d.subModules %}
                    <tr>
                        <td style="font-size: 20px;"></td>
                        <td style="font-size: 20px;">{{ i.name }}</td>
                        <td style="font-size: 20px;">{{ i.PD }}</td>


                        {% if session['type'] == 'Interns' %}
                        <form action="{{ url_for('updateStatus')}}" method=post>
                            <td style="font-size: 20px;">
                                <input type="date" id="birthday" name="start" value="{{ i.startDate }}">
                            </td>
                            <td style="font-size: 20px;">
                                <input type="date" id="birthday" name="end" value="{{ i.endDate }}">
                            </td>
                            <td style="font-size: 20px;">

                                <input class="d-none" name="submodule" type="text" value="{{ i.name }}" />
                                <input class="d-none" name="module" type="text" value="{{ d.moduleName  }}" />
                                <select class="form-select" name="curr" aria-label="Default select example">

                                    {% if i.status == "Completed" %}
                                    <option value="Completed" selected>Completed</option>
                                    <option value="Pending">Pending</option>
                                    {% else %}
                                    <option value="Completed">Completed</option>
                                    <option value="Pending" selected>Pending</option>
                                    {% endif %}
                                </select>
                                <button type="submit" class="mt-3 btn btn-warning">Update</button>

                            </td>
                        </form>
                        {% else %}

                        <td style="font-size: 20px;">{{ i.startDate }}</td>
                        <td style="font-size: 20px;">{{ i.endDate }}</td>
                        <td style="font-size: 20px;">{{ i.status }}</td>

                        {% endif %}

                    </tr>
                    {% endfor %}
                    </tr>

                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    </div>
</body>
{% endblock %}