{% extends "base.html" %}
{% block title %}
Home
{% endblock %}
{% block body %}

{% if session['type'] == "Interns" %}

<div class="container">
    <div class="d-flex justify-content-center mt-5">
        <h1 style="font-family: 'Times New Roman', Times, serif;">Topic wise Mentor's Feedback.</h1>
    </div>

    <div class="row">
        <table class="table table-striped mt-5" border="solid">
            <thead>

                <tr>
                    <th style="font-size: 30px;">Topic Name</th>
                    <th style="font-size: 30px;">Rating</th>
                    <th style="font-size: 30px;">Comment</th>
                </tr>
            </thead>
            <tbody>

                {% for data in data %}

                <tr>

                    {% if data.rkts ==0 %}
                    <td style="font-size: 20px;">{{ data.name }}</td>
                    {% else %}
                    <td style="font-size: 20px;">{{ data.name }}  <span class="badge badge-primary">{{ data.rkts
                            }}</span></td>
                    {% endif %}
                    {% if data.rating == "RKT to happen yet" %}
                    <td style="font-size: 20px;">{{ data.rating }}</td>
                    {% elif data.rating == "Meeting Expectations" %}
                    <td style="font-size: 22px;color: blue;"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
                            class="fas fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> </td>
                    {% elif data.rating == "Exceed Expectations" %}
                    <td style="font-size: 22px;color: green;"><i class="fas fa-star"></i> <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> </td>
                    {% elif data.rating == "Below Expectations" %}
                    <td style="font-size: 22px;color: red;"><i class="fas fa-star"></i> <i class="fas fa-star"> </i> <i
                            class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> </td>
                    {% endif %}
                    <td style="font-size: 20px;">{{ data.suggestions }}</td>
                </tr>

                {% endfor %}

            </tbody>
        </table>

    </div>

</div>

{% else %}
<p>Home Page</p>
{% endif %}

{% endblock %}