{% extends "base.html" %}
{% block title %}
Home
{% endblock %}
{% block body %}

{% if session['type'] == 'Mentors' %}

<div class="container">
    <div class="d-flex justify-content-center mt-5">
        <h1>Leave Applications.</h1>
    </div>

    {% if data != [] %}
    <div class="row">
        <table class="table table-striped mt-5" border="solid">
            <thead>

                <tr>
                    <th style="font-size: 30px;">Intern's EmailId</th>
                    <th style="font-size: 30px;">Date</th>
                    <th style="font-size: 30px;">Leave Type</th>
                    <th style="font-size: 30px;">Reason</th>
                    <th style="font-size: 30px;">Remarks</th>
                </tr>
            </thead>
            <tbody>

                {% for data in data %}

                {% if data.visible %}
                <tr>
                    <td style="font-size: 20px;">{{ data.emailId }}</td>
                    <td style="font-size: 20px;">{{ data.date }}</td>
                    <td style="font-size: 20px;">{{ data.type }}</td>
                    <td style="font-size: 20px;">{{ data.reason }}</td>
                    <td style="font-size: 20px;">
                        <div class="row">

                            <button type="submit" class="btn btn-primary ml-2" data-toggle="modal"
                                    data-target="#approve{{data._id}}">Approve</button>

                                <div class="modal fade" id="approve{{data._id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Want to approve a leave? </h5>
                                            </div>
                                            <div class="modal-footer">
                                                <form class="ml-2 mr-2" action="{{ url_for('leaveActions')}}" method=post>
                                                    <input class="d-none" name="name" type="text" value="Approve" />
                                                    <input class="d-none" name="key" type="text" value="{{ data.date }}" />
                                                    <input class="d-none" name="email" type="text" value="{{ data.emailId }}" />
                                                    <button type="submit" class="btn btn-primary">Yes</button>
                                                </form>
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            <button type="submit" class="btn btn-danger ml-2" data-toggle="modal"
                                    data-target="#reject{{data._id}}">Reject</button>

                                <div class="modal fade" id="reject{{data._id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Want to reject a leave? </h5>
                                            </div>
                                            <div class="modal-footer">
                                                <form action="{{ url_for('leaveActions')}}" method=post>
                                                    <input class="d-none" name="name" type="text" value="Reject" />
                                                    <input class="d-none" name="key" type="text" value="{{ data.date }}" />
                                                    <input class="d-none" name="email" type="text" value="{{ data.emailId }}" />
                                                    <button type="submit" class="btn btn-primary">Yes</button>
                                                </form>
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                        </div>
                    </td>

                </tr>
                {% endif %}

                {% endfor %}

            </tbody>
        </table>

    </div>
    {% else %}
    <div class="d-flex justify-content-center mt-5">
        <p style="font-size: 15px;">No Leave applications Registered...</p>
    </div>

    {% endif %}
</div>
{% else %}
<p>Home Page</p>
{% endif %}

{% endblock %}