{% extends 'base.html' %}

{% block title %}
Mentor
{% endblock %}
{% block body %}

{% if 'error' in interns %}
<div class=" mt-3 alert alert-success alert-dismissible fade show" role="alert">
    <p style="font-size: 20px;">{{ interns.error }}</p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card border-0 shadow rounded-3 my-5">
                    <div class="card-body p-4 p-sm-5">
                        <h5 class="card-title text-center text-dark mb-5 fs-5" style="font-family: 'Times New Roman', Times, serif;">Mentor DashBoard</h5>
                        <form action="{{ url_for('mentorPage') }}" method=post>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput" name="intern"
                                    placeholder="Intern's Email Address" required>
                                <!-- <label for="floatingInput">Email address</label> -->
                            </div>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput" name="mentor"
                                    placeholder="Mentor's Email Address" required>
                                <!-- <label for="floatingInput">Email address</label> -->
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput" name="plan"
                                    placeholder="Enter Plan Name" required>
                                <!-- <label for="floatingInput">Email address</label> -->
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="floatingPassword" name="password"
                                    placeholder="Password" required>
                                <!-- <label for="floatingPassword">Password</label> -->
                            </div>

                            <div class="d-grid">
                                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Add
                                    Intern</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container col-md-12 col-sm-12">
        <div class="row">

            <table class="table table-striped" border="solid">
                <thead>

                    <tr>
                        <th style="font-size: 30px;">Intern Name</th>
                        <th style="font-size: 30px;">Email ID</th>
                        <th style="font-size: 30px;">Induction Plan</th>
                        <th style="font-size: 30px;">Phone Number</th>
                        <th style="font-size: 30px;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for intern in interns.interns %}
                    <tr>
                        <td style="font-size: 20px;">{{ intern.fname }} {{ intern.sname }}</td>
                        <td style="font-size: 20px;">{{ intern.emailId }}</td>
                        <td style="font-size: 20px;">{{ intern.inductionPlan.name }}</td>
                        <td style="font-size: 20px;">{{ intern.mobNo }}</td>
                        <td style="font-size: 20px;">

                            <div class="row">

                                <button type="submit" class="btn btn-primary ml-2" data-toggle="modal"
                                    data-target="#export{{intern._id}}">Export Sheet</button>

                                <div class="modal" id="export{{intern._id}}" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Want to export a sheet of {{ intern.emailId }} ?</h5>
                                            </div>
                                            <div class="modal-footer">
                                                <form class="ml-2" action="{{ url_for('exportPlan')}}" method=post>
                                                    <input class="d-none" name="email" type="text" value="{{ intern.emailId }}" />
                                                    <button type="submit" class="btn btn-primary">Yes</button>
                                                </form>
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                {% if 'planLink' in intern %}
                                <button type="submit" class="btn btn-warning ml-2" data-toggle="modal"
                                    data-target="#download{{intern._id}}">Download sheet</button>

                                <div class="modal" id="download{{intern._id}}" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Want to download a sheet of {{ intern.emailId }} ?</h5>
                                            </div>
                                            <div class="modal-footer">
                                                <form class="ml-2" action="{{ intern.planLink }}">
                                                    <button type="submit" class="btn btn-primary">Yes</button>
                                                </form>
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% if session['type'] == "Mentors" %}

                                <button type="submit" class="btn btn-success ml-2" data-toggle="modal"
                                    data-target="#feedback{{intern._id}}">Feedback</button>

                                <div class="modal" id="feedback{{intern._id}}" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Want to submit a feedback for {{ intern.emailId }} ? </h5>
                                            </div>
                                            <div class="modal-footer">
                                                <form class="ml-2" action="{{ url_for('renderFeedback')}}" method=post>
                                                    <input class="d-none" name="email" type="text"
                                                        value="{{ intern.emailId }}" />
                                                    <button type="submit" class="btn btn-primary">Yes</button>
                                                </form>
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}

                                <button type="submit" class="btn btn-secondary ml-2" data-toggle="modal"
                                    data-target="#report{{intern._id}}">Report</button>

                                <div class="modal fade" id="report{{intern._id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Want to open a report of {{ intern.emailId }} ? </h5>
                                            </div>
                                            <div class="modal-footer">
                                                <form action="{{ url_for('Report')}}" method=post>
                                                    <input class="d-none" name="email" type="text"
                                                        value="{{ intern.emailId }}" />
                                                    <button type="submit" class="btn btn-primary">Yes</button>
                                                </form>
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-danger ml-2" data-toggle="modal"
                                    data-target="#delete{{intern._id}}">Delete</button>

                                <div class="modal fade" id="delete{{intern._id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Want to delete a record of {{ intern.emailId }} ? </h5>
                                            </div>
                                            <div class="modal-footer">
                                                <form action="{{ url_for('deleteIntern')}}" method=post>
                                                    <input class="d-none" name="email" type="text"
                                                        value="{{ intern.emailId }}" />
                                                    <button type="submit" class="btn btn-primary">Yes</button>
                                                </form>
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </td>
                    </tr>

                    {% endfor %}

                </tbody>
            </table>

        </div>
    </div>
</body>
{% endblock %}