{% extends 'base.html' %}

{% block title %}
Plans
{% endblock %}
{% block body %}

{% if 'error' in data %}
<div class=" mt-3 alert alert-success alert-dismissible fade show" role="alert">
    <p style="font-size: 20px;">{{data.error}}</p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

<body>

    {% if session['type'] == 'Managers' %}
    <div class="container">

        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card border-0 shadow rounded-3 my-5">
                    <div class="card-body p-4 p-sm-5">
                        <h5 class="card-title text-center text-dark mb-5 fs-5">Add/Update Plan</h5>
                        <form action="{{ url_for('plans') }}" method=post enctype="multipart/form-data">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput" name="planName"
                                    placeholder="Plan Name" required>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="file" name="file" class="form-control" placeholder="Select file" required>

                            </div>

                            <div class="d-grid">
                                <button class="btn btn-primary btn-login text-uppercase fw-bold"
                                    type="submit">Add/Update</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endif %}
    <div class="container">

        <div class="d-flex justify-content-center mt-5">
            <h1>Existing Plans</h1>
        </div>
        <div class="row mt-5">

            <table class="table table-striped" border="solid">
                <thead>

                    <tr>
                        <th style="font-size: 30px;">Plan Name</th>
                        <th style="font-size: 30px;">No. of Modules</th>
                        <th style="font-size: 30px;">Actions</th>
                        <!-- <th style="font-size: 30px;">Actions</th> -->
                    </tr>
                </thead>
                <tbody>

                    {% for d in data.plans %}
                    <tr>
                        <td style="font-size: 20px;">{{ d.name }}</td>
                        <td style="font-size: 20px;">{{ d.count }}</td>
                        <td style="font-size: 20px;">
                            <div class="row">


                                <button type="submit" class="btn btn-success ml-4" data-toggle="modal"
                                    data-target="#view{{d.id}}">view</button>

                                <div class="modal fade" id="view{{d.id}}" tabindex="-1" role="dialog"
                                    aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Want to view a Plan? </h5>
                                            </div>
                                            <div class="modal-footer">
                                                <form class="ml-3 mr-2" action="{{ url_for('viewPlan')}}" method=post>
                                                    <input class="d-none" name="name" type="text"
                                                        value="{{ d.name }}" />
                                                    <button type="submit" class="btn btn-primary">Yes</button>
                                                </form>
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>





                                <button type="submit" class="btn btn-danger ml-2" data-toggle="modal"
                                    data-target="#delete{{d.id}}">Delete</button>

                                <div class="modal fade" id="delete{{d.id}}" tabindex="-1" role="dialog"
                                    aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Want to delete a plan? </h5>
                                            </div>
                                            <div class="modal-footer">
                                                <form action="{{ url_for('deletePlan')}}" method=post>
                                                    <input class="d-none" name="name" type="text"
                                                        value="{{ d.name }}" />
                                                    <button type="submit" class="btn btn-primary">Yes</button>
                                                </form>
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </td>
                    </tr>

                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</body>
{% endblock %}