{% extends "base.html" %}
{% block title %}
Report
{% endblock %}
{% block body %}

<div class="container">
    <div class="d-flex justify-content-center mt-5">
        <h1 class="" style="font-family: 'Times New Roman', Times, serif;">Induction Report.</h1>
    </div>

    <div class="row">
        <table class="table table-striped mt-5" border="solid">
            <thead>

                <tr>
                    <th style="font-size: 30px;">Topic Name</th>
                    <th style="font-size: 30px;">Rating</th>
                    <th style="font-size: 30px;">Actions</th>
                </tr>
            </thead>
            <tbody>

                {% for data in data %}

                <tr>

                    {% if data.status == "Incomplete" %}
                    <td style="font-size: 20px;">{{ data.name }}<span class="ml-2 badge badge-danger">Incomplete</span>
                    </td>
                    {% else %}
                    <td style="font-size: 20px;">{{ data.name }} <span
                            class="ml-2 badge badge-primary">Completed</span><span class="ml-2 badge badge-primary">{{
                            data.rkts }}</span>
                    </td>
                    {% endif %}
                    {% if data.rating == "RKT to happen yet" %}
                    <td style="font-size: 20px;">{{ data.rating }}</td>
                    {% elif data.rating == "Meeting Expectations" %}
                    <td style="font-size: 22px;color: blue;"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
                            class="fas fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> </td>
                    {% elif data.rating == "Exceed Expectations" %}
                    <td style="font-size: 22px;color: green;"><i class="fas fa-star"></i> <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                    </td>
                    {% elif data.rating == "Below Expectations" %}
                    <td style="font-size: 22px;color: red;"><i class="fas fa-star"></i> <i class="fas fa-star"> </i> <i
                            class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> </td>
                    {% endif %}
                    <td>

                        <div class="modal fade bd-example-modal-lg" id="open{{ data.id }}" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                <div class="modal-content ">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalCenterTitle">{{ data.name }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {% if data.History == [] %}
                                        <p style="font-size: 20px;">No RKT related history present...</p>
                                        {% else %}

                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th style="font-size: 30px;" scope="col">Sr No.</th>
                                                    <th style="font-size: 30px;" scope="col">Rating</th>
                                                    <th style="font-size: 30px;" scope="col">Remarks</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                {% for data in data.History %}
                                                <tr>
                                                    <td style="font-size: 20px;">{{ data.srNo }}</td>
                                                    {% if data.rating == "RKT to happen yet" %}
                                                    <td style="font-size: 20px;">{{ data.rating }}</td>
                                                    {% elif data.rating == "Meeting Expectations" %}
                                                    <td style="font-size: 22px;color: blue;"><i
                                                            class="fas fa-star"></i> <i class="fas fa-star"></i> <i
                                                            class="fas fa-star"></i> <i class="far fa-star"></i> <i
                                                            class="far fa-star"></i> </td>
                                                    {% elif data.rating == "Exceed Expectations" %}
                                                    <td style="font-size: 22px;color: green;"><i
                                                            class="fas fa-star"></i> <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
                                                            class="fas fa-star"></i>
                                                    </td>
                                                    {% elif data.rating == "Below Expectations" %}
                                                    <td style="font-size: 22px;color: red;"><i class="fas fa-star"></i>
                                                        <i class="fas fa-star"> </i> <i class="far fa-star"></i> <i
                                                            class="far fa-star"></i> <i class="far fa-star"></i> </td>
                                                    {% endif %}
                                                    <td style="font-size: 20px;">{{ data.suggestions }}</td>
                                                </tr>
                                                {% endfor %}

                                            </tbody>
                                        </table>
                                        {% endif %}
                                    </div>

                                </div>
                            </div>
                        </div>


                        <button type="submit" class="btn btn-primary mt-0" data-toggle="modal"
                            data-target="#open{{data.id}}">Details</button>

                    </td>
                </tr>

                {% endfor %}

            </tbody>
        </table>

    </div>

</div>

{% endblock %}