{% extends 'base.html' %}

{% block title %}
Manager
{% endblock %}
{% block body %}

{% if error %}
<div class=" mt-3 alert alert-warning alert-dismissible fade show" role="alert">
    <p style="font-size: 20px;">{{error}}</p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card border-0 shadow rounded-3 my-5">
                    <div class="card-body p-4 p-sm-5">
                        <h5 class="card-title text-center text-dark mb-5 fs-5">Manager DashBoard</h5>
                        <form action="{{ url_for('managerPage') }}" method=post>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput" name="mentor"
                                    placeholder="Mentor's Email Address">
                                <!-- <label for="floatingInput">Email address</label> -->
                            </div>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput" name="manager"
                                    placeholder="Manager's Email Address">
                                <!-- <label for="floatingInput">Email address</label> -->
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="floatingPassword" name="password"
                                    placeholder="Password">
                                <!-- <label for="floatingPassword">Password</label> -->
                            </div>

                            <div class="d-grid">
                                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Add
                                    Mentor</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <table class="table table-striped">
                <thead>

                    <tr>
                        <th style="font-size: 30px;">Mentor Name</th>
                        <th style="font-size: 30px;">Email ID</th>
                        <th style="font-size: 30px;">Phone Number</th>
                        <th style="font-size: 30px;">Actions</th>
                    </tr>
                </thead>
                <tbody>

                    {% for mentor in mentors %}
                    <tr>
                        <td style="font-size: 20px;">{{ mentor.fname }} {{ mentor.sname }}</td>
                        <td style="font-size: 20px;">{{ mentor.emailId }}</td>
                        <td style="font-size: 20px;">{{ mentor.mobNo }}</td>
                        <td style="font-size: 20px;">

                            <form action="{{ url_for('deleteMentor')}}" method=post>
                                <input class="d-none" name="email" type="text" value="{{ mentor.emailId }}" />
                                <button type="submit" class="btn btn-danger">Delete</button>
                              </form>

                          </td>
                    </tr>

                    {% endfor %}

                </tbody>
            </table>

        </div>
    </div>
</body>
{% endblock %}